@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&display=swap');
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.font_Montserrat{
  font-family: Montserrat;
}
.font_Cormorant{
  font-family: 'Cormorant Unicase', sans-serif;
}
.mx__660{
  max-width: 660px;
}
.radius_50{
  border-radius: 50px;
}
.font_32_700{
  font-size: 32px;
  font-weight: 700;
}
.font_16_500{
  font-size: 16px;
  font-weight: 500;
}
.font_50_800{
  font-size: 50px;
  font-weight: 700;
}
.navbar_section{
  /* background-color: hwb(212 45% 17%); */
  background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 40%, rgba(105, 90, 166, 0.5) 100%);
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  /* background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%); */
  box-shadow: none !important;
  min-height: 75px;
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
  background-color: #3BB3C1 !important;
  /* background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%); */
}
/* .css-k008qs{
  height: 75px;
} */
.css-19kzrtu{
  padding: 0 !important;
}
.css-hyum1k-MuiToolbar-root{
  padding: 0px 0px 0px 0px !important;
}
.navbar__btn{
  display: block;
  /* width: 130px; */
  padding: 14px 38px;
  /* height: 45px; */
  background-color: rgba(153, 85, 216, 0.993);
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    color: white;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-toggle {
    display: none; /* Hide toggle button on larger screens */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-links li {
    margin-right: 1rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  a:-webkit-any-link:active {
    color:unset;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 992px) {
    .navbar-links {
      display: none; /* Hide navbar links by default on mobile */
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 1rem;
    }
  
    .navbar-links.open {
      display: flex; /* Show navbar links when toggled open */
    }
  
    .navbar-toggle {
      display: block; /* Show toggle button on mobile */
    }
  }
/*hero section*/
.hero_section{
  
}
.hero_main{
  display: flex;
  align-items: center;
}
.hero_content_image img{
  width: 100%;
  object-fit: cover;
}
.w_40{
  width: 40px;
  background-color: hwb(212 45% 17%);
  height: 40px;
}
.social_icon{
  display: flex;
  align-items: center;
  gap: 10px !important;
}
/* about_section */
.about__main{
  display: flex;
  align-items: center;
}
.css-1oqqzyl-MuiContainer-root{
  max-width: 1300px !important;
}
.css-vpkyow{
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.css-1idz92c-MuiCircularProgress-svg{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 50px;
  border: 1px solid;
}
.css-14gq6m .css-p3j5y1-MuiTypography-root::before{
  background-color: white !important;
}
.css-14gq6m .css-p3j5y1-MuiTypography-root::after{
  background-color: #3BB3C1 !important;
}

















.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 70px !important;
  column-gap: 20px;
  gap: 20px;
  margin: 50px 20px 0px 20px;
}
.lap_top_image {
  width: 100%;
}

.main_laptop {
  position: relative;
  z-index: 1 !important;
}
.w_100{
  width: 100%;
}
.full_screen_image {
  background-image: url(../../public/images/full_screen.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /* height: 68%; */
  width: 78%;
  position: absolute;
  top: 12px;
  left: 10.8%;
  bottom: 15%;
  background-position: top center; /* Initial background position */
  transition: background-position 8s ease; /* Smooth transition */
}

.full_screen_image:hover {
  background-position: bottom center; 
}
.full_screen_image2{
  background-image: url(../../public/images/Full_screen_5.png);
}
.full_screen_image3{
  background-image: url(../../public/images/Full_screen_4.png);
}
.full_screen_image4{
  background-image: url(../../public/images/Full_screen_6.jpg);
}
.full_screen_image5{
  background-image: url(../../public/images/Full_screen_3.jpg);
}
.full_screen_image6{
  background-image: url(../../public/images/Full_screen_2.png);
}
.css-p3j5y1-MuiTypography-root{
position: relative;
color: white;
}
.css-p3j5y1-MuiTypography-root::before{
  position: absolute;
  content: "";
  width: 170px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #3BB3C1;
  border-radius: 2px;
}
.css-p3j5y1-MuiTypography-root::after{
  /* position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 50px;
  animation: section-title-run 5s infinite linear; */
}
.css-19lxk5y{
  background-image: url(../../public/images/profile.jpg) !important;
  height: 400px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 100% 100%;
}
.about_section{
  position: relative !important;
}
.about_section::after{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  background-image: url(../../public/images/gf.gif) !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}
@keyframes about_section {
  0% {
    left: 0;
  }
  50% {
    left: 210px;
  }
  100% {
    left: 0;
  }
}
@keyframes skills_section {
  0% {
    left: 0;
  }
  50% {
    left: 170px;
  }
  100% {
    left: 0;
  }
}
@keyframes project_section {
  0% {
    left: 0;
  }
  50% {
    left: 260px;
  }
  100% {
    left: 0;
  }
}
@keyframes contact_section {
  0% {
    left: 0;
  }
  50% {
    left: 240px;
  }
  100% {
    left: 0;
  }
}




























.main-container {
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  height: 560px;
  overflow: hidden;
}
.css-1fg28b2{
  margin-bottom: 0 !important;
}
.main {
  margin: 0px auto;
  width: 480px;
  height: 480px;
  position: relative;
}
.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #3BB3C1;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}
.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-image: linear-gradient(180deg, #3BB3C1 0%, #3BB3C1 100%);
  -webkit-background-image: linear-gradient(180deg, #3BB3C1 0%, #3BB3C1 100%);
  box-shadow: 0 2px 4px 0 #3BB3C1;
  -webkit-box-shadow: 0 2px 4px 0 #3BB3C1;
}
.icon-block img {
  margin: 0px auto;
  width: 86%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}
.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* circle content */
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 75%;
  height: 75%;
  border: 3px solid #3BB3C1;
  border-radius: 50%;
}
.circle .icon-block img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}
/* center logo */
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.center-logo img {
  max-width: 200px;
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
  }
}



























  